<% services.forEach(function(service) { %>
    <!-- Laat alleen de service zien als het type een vraag is -->
    <% if (service.type == 'aanbod' ) { %>

        <article>
            <% if (service.image) { %>
                <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= service.image %>?format=avif" type="image/avif">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= service.image %>?format=webp" type="image/webp">
                    <img src="https://fdnd-agency.directus.app/assets/<%= service.image %>" alt="<%= service.title %> Image">
                </picture>
            <% } %>
            
            <div class="cardContent">
                <a href="/vraag-aanbod/<%= service.id %>"><h3><%= service.title %></h3></a>
                <p>
                    <span><%= service.start_date %> - <%= service.end_date %></span>
                </p>
                
                <p><%- service.short_description %></p>
            </div>
            
        </article>

    <% } %>
<% }) %>